:root {
  --mainColor: #1abbb8;
  --secondaryColor: #e99521; /* used in hover buttons */
  --text : #6C757D; /* secondary color in bootstrap */
  --textHover: #575555;
  --bgSideBar: #212332;
  --btnAction: #e7a84f;
}