.container-sidebar {
  border: solid 1px #ccc;
  height: calc(100vh - 62px);
  background-color: #394154;
  width: 15%;
  @media screen and (min-width: 1640px) {
    width: 13%;
  }
  ul {
    li {
      background-color: #394154;
      color: #868996;
      border: none;
      cursor: pointer;
      .icon {
        font-size: 0.9rem;
      }
      span {
        margin-left: 10px;
        font-size: 0.9rem;
      }
    }
  }
  div.register {
    li {
      span.subtitle {
        font-size: 0.9rem;
      }
      span {
        font-size: 0.8rem;
        margin-left: 5px;
      }
      span.arrow {
        font-size: 1rem;
      }
    }
  }
  .link {
    text-decoration: none;
  }
  //Animations class
  li:hover {
    color: white;
    transition: 500ms;
  }
  .rotate-init {
    transition: 400ms;
  }
  .rotate-final {
    transform: rotate(180deg);
    transition: 400ms;
  }
  .fade-enter-active,
  .fade-leave-active {
    transition: 80ms;
    opacity: 0.6;
  }
  .fade-enter,
  .fade-leave-to {
    transition: 300ms;
    opacity: 0;
  }
}
