.container-sidebar {
  border: solid 1px #ccc;
  height: calc(100vh - 62px);
  background-color: #394154;
  ul {
    li {
      background-color: #394154;
      color: #868996;
      border: none;
      cursor: pointer;
      .icon {
        font-size: 0.9rem;
      }
      span {
        margin-left: 10px;
        font-size: 0.9rem;
      }
    }
  }
  div.register {
    li {
      span.subtitle {
        font-size: 0.9rem;
      }
      span {
        font-size: 0.8rem;
        margin-left: 5px;
      }
      span.arrow {
        font-size: 1rem;
      }
    }
  }
  li:hover {
    color: white;
  }
  .display-none {
    display: none;
  }
  .display-block {
    display: block;
  }
}
