div.main-container{
    width: 1000px;
    margin: 0 auto;
    @media screen and (min-width: 1600px) {
        width: 1380px;
    }
    h1{
        font-size: 2rem;
    }
}
.link{
    text-decoration: none;
}
.link p{
    font-size: 0.8rem;
    padding-left: 2px;
    transition: 200ms;
    &:hover{
        color: var(--textHover) !important;
    }
}
p.arrow-link{
    font-size: 0.8rem;
    margin: 0 6px;
}
button.btn-clients{
    background-color: var(--btnAction);
    color: white;
    margin-top: 35px;
    &:hover{
        background-color: var(--secondaryColor);
    }
}
.label-input{
    font-size: 0.9rem;
}
.input-text{
    color: var(--text);
}
.input-text::placeholder{
    color: var(--textPlaceholder);
}